{% extends "base.html" %} 

{% block title %} - Chat with {{other_username}} {% endblock %} 

{% block extra_css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}"> 
{% endblock %} 


{% block content %} 
    <div class="chat-wrapper">
        
        <header class="chat-header">
            <div>
                <h2>Chat Seguro</h2>
                <small style="color: #888;">Conectado com {{ other_username }}</small>
            </div>
            <a href="/" class="btn-back">Voltar</a>
        </header>

        <ul id="messages">
            </ul>

        <div class="input-area">
            <input id="msgInput" type="text" placeholder="Digite sua mensagem segura..." autocomplete="off">
            <button id="btnSend">Enviar</button>
        </div>

    </div>
{% endblock %} 

{% block extra_js %} 
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script> 
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script> 
{% endblock %}