{% extends "base.html" %} 

{% block content %} 
    <div class="chat-container"> 
        <h2 id="chatTitle">Chat</h2> 
        <ul id="messages"></ul> 
        
        <input id="msgInput" placeholder="Digite uma mensagem..." autocomplete="off"> 
        <button id="btnSend">Enviar</button> 
    </div> 
{% endblock %} 

{% block extra_js %} 
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script> 
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script> 
{% endblock %}